{% extends "./centro/base.html" %}
{% block title %} SWIPE VIEW ALL PRODUCTS  {% endblock %}
{% block content %}
<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam alias ea provident nobis quae temporibus molestias error veniam sed, quod impedit doloremque voluptatibus officia! Illum ex porro quas accusantium perferendis?</p>
<p>{{fecha_actual}}</p>

<img src="https://imgv3.fotor.com/images/videoImage/Fotors-free-online-collage-maker.jpg" alt="imagen Producto">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet id expedita debitis? Perferendis</p>
{% endblock %}