<nav class="w3-bar w3-black">
    <a href="/homeVR" class="w3-button w3-bar-item">HOME Villa Raquel</a>
    <a href="/servicios" class="w3-button w3-bar-item">HOME Servicios</a>
    <a href="/homeGP" class="w3-button w3-bar-item">HOME Pedidos</a>
    <a href="/homePruebas" class="w3-button w3-bar-item">HOME pruebas </a>
    <a href="/homeTaller" class="w3-button w3-bar-item">HOME taller App </a>
    <a href="/blogVR" class="w3-button w3-bar-item">BLOG Tour</a>
    <a href="#contact" class="w3-button w3-bar-item">HOME Contact</a>
</nav>
<h2>{% block h2title %}{% endblock %} </h2>