<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> contactanos </h2>
    <form action="/contacto/" method="POST">{% csrf_token %}
        <p> Asunto <input type="text" name="Asunto"></p>
        <p> Email <input type="text" name="Email"></p>
        <p> Mensaje <textarea type="text" rows="15" cols="45" name="Mensaje"></textarea></p>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>